{extra_src_dirs, ["test"]}.

{erl_opts, [debug_info, nowarn_export_all]}.

{deps, [
    {base16, {git, "https://github.com/esl/base16.git", {tag, "2.0.1"}}},
    {cache_tab, "1.0.30"},
    {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.10.0"}}},
    {diffy, {git, "https://github.com/zotonic/diffy.git", {tag, "1.1.2"}}},
    {eel, ".*", {git, "https://github.com/williamthome/eel.git", {branch, "main"}}},
    {eqwalizer_support,
        {git_subdir, "https://github.com/whatsapp/eqwalizer.git", {branch, "main"},
            "eqwalizer_support"}},
    {erlcloud, {git, "https://github.com/erlcloud/erlcloud.git", {tag, "3.7.6"}}},
    {erlsom, {git, "https://github.com/willemdj/erlsom.git", {tag, "v1.5.1"}}},
    {flatlog, {git, "https://github.com/ferd/flatlog.git", {tag, "v0.1.2"}}},
    {gen_smtp, {git, "https://github.com/Vagabond/gen_smtp.git", {tag, "1.2.0"}}},
    {imetrics, {git, "https://github.com/relaypro-open/imetrics.git", {tag, "v2.1.2"}}},
    {jesse, ".*", {git, "https://github.com/for-GET/jesse.git", {tag, "1.8.1"}}},
    {jsn, "2.2.2"},
    {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
    %{jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v3.1.0"}}},
    {maps_utils, {git, "https://github.com/egobrain/maps_utils.git", {tag, "0.1.0"}}},
    {nested, "0.1.2"},
    {observer_cli, "1.7.4"},
    {plists, {git, "https://github.com/silviucpp/plists.git", {branch, "master"}}},
    {poolboy, "1.5.2"},
    {recon, {git, "https://github.com/ferd/recon.git", {tag, "2.5.3"}}},
    {rethink, {git, "https://github.com/relaypro-open/rethink-erlang.git", {branch, "master"}}},
    {ssl_verify_fun, "1.1.6"},
    {sync, ".*", {git, "https://github.com/rustyio/sync.git", {branch, "master"}}},
    {turtle, {git, "https://github.com/relaypro-open/turtle.git", {branch, "feature/erlang_24"}}},
    {logger_logstash_formatter, {git, "https://github.com/valitydev/logger_logstash_formatter.git", {ref, "08a66a6"}}},
    {cowboy_access_log, {git, "https://github.com/rbkmoney/cowboy_access_log.git", {branch, "master"}}},
    {entropy_string, {git, "https://github.com/EntropyString/Erlang.git", {tag, "1.0.0"}}}

]}.

{relx, [
    {release,
        {dog_trainer,
            {git, long} %% relflow-release-version-marker
        }, [dog_trainer]},
    {dev_mode, false},
    {include_erts, true},
    {extended_start_script, true},
    {extended_start_script_hooks, [{post_start, [{pid, "/var/run/dog_trainer/dog_trainer.pid"}]}]},
    {overlay, []}
]}.

%    {copy, "{{base_dir}}/consolidated", "releases/{{release_version}}/consolidated"}
%        {template, "priv/release.txt.template", "./priv/release.txt"}

{erlydtl_opts, []}.

{profiles, [
    {public, [
        {relx, [
            {dev_mode, false},
            {extended_start_script, true},
            {sys_config, "config/sys.config.etc"},
            {include_erts, true}
        ]}
    ]},
    {mob_pro, [
        {relx, [
            {dev_mode, false},
            {extended_start_script, true},
            {sys_config, "config/sys.config.etc"},
            {include_erts, true}
        ]}
    ]},
    {mob_qa, [
        {relx, [
            {dev_mode, false},
            {extended_start_script, true},
            {sys_config, "config/sys.config.etc"},
            {include_erts, true}
        ]}
    ]},
    {local, [
        {relx, [
            {dev_mode, true},
            {extended_start_script, true},
            {sys_config, "config/sys.config.local_docker"},
            {include_erts, true},
            {system_libs, true}
        ]}
    ]},
    {local_docker, [
        {relx, [
            {dev_mode, false},
            {extended_start_script, true},
            {sys_config, "config/sys.config.src"},
            {include_erts, true},
            {system_libs, false}
        ]}
    ]}
]}.

{hank, [{ignore, ["template_setup/**"]}]}.

{erlfmt, [write]}.

{plugins, [
    {rebar3_run, "v0.3.0"},
    {rebar3_hex, "v6.11.5"},
    erlfmt
]}.
