{extra_src_dirs, ["test"]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}, nowarn_export_all]}.
{deps, [
        {lager, ".*", {git, "https://github.com/erlang-lager/lager.git", {tag, "3.6.4"}}},
        {jesse, ".*", {git, "https://github.com/for-GET/jesse.git",  {tag, "1.6.1"} }},
        {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", {tag, "v2.9.0"}}},
        {rethink, ".*", {git, "https://github.com/relaypro-open/rethink-erlang.git", {branch, "master"}}},
	      {thumper, {git, "https://github.com/relaypro-open/thumper.git", {branch, "main"} }},
        {cowboy, {git, "https://github.com/ninenines/cowboy", {tag, "2.4.0"}}},
        {diffy, {git, "https://github.com/zotonic/diffy.git", {tag, "1.0.0"}}},
        {maps_utils, {git, "https://github.com/egobrain/maps_utils.git", {tag, "0.0.6"}}},
        {gen_smtp, {git, "https://github.com/Vagabond/gen_smtp.git", {tag, "0.15.0"}}},
        {corman, {git, "https://github.com/EchoTeam/corman.git", {branch, "master"}}},
        {base16, {git, "https://github.com/goj/base16.git", {tag, "1.0.0"}}},
        {plists, {git, "https://github.com/silviucpp/plists.git", {branch, "master"}}},
        {imetrics, {git, "https://github.com/Phonebooth/imetrics.git", {branch, "master"}}},
        {observer_cli, "1.6.0"},
        {jsn, "2.1.4"},
        {nested, "0.1.2"},
        {ssl_verify_fun, "1.1.5"},
        {unicode_util_compat, "0.5.0"},
        {jason, "1.2.0"},
        {json_xema, "0.4.0"},
        {poolboy, "1.5.2"}
       ]}.

{relx, [
        {release, 
            {dog_trainer, 
            {cmd, "scripts/git_hash.sh"} %% relflow-release-version-marker
        },
            [dog_trainer]
        },
        {dev_mode, true},
        {sys_config, "config/sys.config"},
        {include_erts, true},
        {extended_start_script, true},
        {extended_start_script_hooks, [
          {post_start, [
            {pid, "/var/run/dog_trainer/dog_trainer.pid"}
          ]}
        ]},
        {overlay, [
                {mkdir, "./run"},
                {mkdir, "./log"},
                {mkdir, "./queuejournal"},
                {template, "priv/release.txt.template", "./priv/release.txt"},
                {copy, "priv/broker.tx", "./priv/broker.tx"},
                {copy, "priv/", "./priv/broker.tx"}
        ]}
       ]
}.

{erlydtl_opts,[
              ]
}.

{profiles, [
    {mob_pro, [
         {relx, [
                    {dev_mode, false},
                    {extended_start_script, true},
                    {sys_config, "config/pro.sys.config"},
                    {include_erts, true}
            ]}
    ]},
    {mob_qa, [
         {relx, [
                    {dev_mode, false},
                    {extended_start_script, true},
                    {sys_config, "config/qa.sys.config"},
                    {include_erts, true}
            ]}
    ]},
    {local, [
            {relx, [
                    {dev_mode, true},
                    {extended_start_script, true},
                    {sys_config, "config/local.sys.config"},
                    {include_erts, true},
                    {system_libs, false}
            ]}
    ]}
]}.

{hank, [{ignore, [
    "template_setup/**"
]}]}.

{plugins, [
    {rebar3_run,"v0.3.0"},
    {rebar3_hex,"v6.11.5"},                                                                             
    {rebar_mix,"v0.4.0"}                                                                             
]}.

{provider_hooks, [
  {pre,  [{compile, {mix, find_elixir_libs}}]},
  {post, [{compile, {mix, consolidate_protocols}}]}
  
]}.
