{
  "name": "test_drew",
  "version": "1.0",
  "rules": {
    "inbound": [
      {
        "action": "ACCEPT",
        "active": true,
        "comment": "test_zone",
        "group": "$ZONE_TEST_ZONE_ID",
        "group_type": "ZONE",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 1,
        "service": "$SERVICE_SSH_ID",
        "states": [],
        "type": "BASIC"
      },
      {
        "action": "DROP",
        "active": true,
        "comment": "",
        "group": "any",
        "group_type": "ANY",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 2,
        "service": "any",
        "states": [],
        "type": "BASIC"
      }
    ],
    "outbound": [
      {
        "action": "ACCEPT",
        "active": true,
        "comment": "",
        "group": "any",
        "group_type": "ANY",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 1,
        "service": "any",
        "states": [],
        "type": "BASIC"
      }
    ]
  }
}
