{erl_opts, [no_debug_info]}.
{deps, [
        {erlydtl, "0.13.1"},
        {erlcredstash, {git, "https://github.com/relaypro-open/erlcredstash.git", {branch, "master"}}}
       ]}.

{escript_incl_apps,
 [template_setup,erlydtl,erlcredstash,erlcloud
  ]}.
{escript_main_app, template_setup}.
{escript_name, template_setup}.
{escript_emu_args, "%%! +sbtu +A1\n"}.

%% Profiles
{profiles, [{test,
             [{erl_opts, [debug_info]}
            ]}]}.

{relx, [
        {release, 
            {template_setup, "1" 
        },
            [template_setup]
        },
        {dev_mode, true},
        {include_erts, false},
        {extended_start_script, true},
        {extended_start_script_hooks, [
        ]}
       ]
}.
{plugins, [
    rebar3_run,
    rebar3_hex
]}.
