[
    {dog_trainer, [
        {env, "q1"},
        {version, "20180423-180410-relflow"},
        {smtp_relay,"smtp.sendgrid.net"},
        {smtp_username, "{{ lookup('credstash', 'sendgrid_alert_username', table='credential-store', region='us-east-1') }}" },
        {smtp_password, "{{ lookup('credstash', 'sendgrid_alert_password', table='credential-store', region='us-east-1') }}" },
        {smtp_to, ["product-alerts@relaypro.com"]},
        {smtp_from,"dog_trainer+qa@relaydev.sh"},
        {polling_interval_seconds,60},
        {keepalive_alert_seconds,1800},
        {hashcheck_alert_seconds,240},
        {rethinkdb_host, "dog-db-qa.nocell.io"},
        {rethinkdb_port, 28015},
        {rethinkdb_username, "{{ lookup('credstash', 'dog_trainer>rethinkdb_username', table='credential-store_mob_qa', region='us-east-1') }}" },
        {rethinkdb_password, "{{ lookup('credstash', 'dog_trainer>rethinkdb_password', table='credential-store_mob_qa', region='us-east-1') }}" },
        {rethink_timeout_ms, 10000},
        {rethink_squash_sec, 1.0},
        {profile_periodic_publish_interval_seconds, 5},
        {ipset_periodic_publish_interval_seconds, 5},
        {check_v6_hashes, true},
        {generate_unset_tables, false},
        {max_interval_since_last_agent_update,2},
        {pools, [
            {pool1, [
                {size, 10},
                {max_overflow, 20}
            ], []}
        ]}
    ]},
    {sync, [
        {growl, none},
        {log, [warnings, errors]},
        {non_descendants, fix},
        {executable, auto},
        {whitelisted_modules, []},
        {excluded_modules, []}
    ]},
    {lager, [
        {handlers, [
            {lager_file_backend, [{file, "/var/log/dog_trainer/error.log"}, {level, error}, {size, 104857600}]},
            {lager_file_backend, [{file, "/var/log/dog_trainer/console.log"}, {level, info}, {size, 104857600}]}
        ]},
        {crash_log, "/var/log/dog_trainer/crash.log"},
        {tracefiles, [
        	    ]},
        {async_threshold, 10000},
        {sieve_threshold, 5000},
        {sieve_window, 100}
    ]},
    {thumper, [
        {substitution_rules, [{cluster, {edb, get_cluster_id, []}}]},
        {thumper_svrs, [default, publish]},
        {brokers, [
            {default, [
                {rabbitmq_config,
                    [
                        {host, "localhost"},
                        {port, 5673},
                        {api_port, 15672},
                        {virtual_host, <<"dog">>},
                        {user, <<"{{ lookup('credstash', 'dog_trainer>rabbitmq_username', table='credential-store_mob_qa', region='us-east-1') }}">> },
                        {password, <<"{{ lookup('credstash', 'dog_trainer>rabbitmq_password', table='credential-store_mob_qa', region='us-east-1') }}">> },
                        {ssl_options, [{cacertfile, "/var/consul/data/pki/certs/ca.crt"},
                                       {certfile, "/var/consul/data/pki/certs/server.crt"},
                                       {keyfile, "/var/consul/data/pki/private/server.key"},
                                       {verify, verify_peer},
                                       {server_name_indication, disable},
                                       {fail_if_no_peer_cert, true}
                                      ]},
                         {broker_config,
                             {thumper_tx,
                                 ["/opt/dog_trainer/priv/broker.tx"]}}
                    ]}]},
            {publish, [{rabbitmq_config, default}]}
        ]},
        {queuejournal,
            [
                {enabled, true},
                {dir, "/var/db/dog_trainer/queuejournal"},
                {memqueue_max, 10000},
                {check_journal, true}
            ]
        }
    ]}
].
