{
  "name": "test",
  "profile_id": "__PROFILE_ID__",
  "rules": {
    "inbound": [
      {
        "action": "ACCEPT",
        "active": true,
        "comment": "allow epmd from test group",
        "environments": [],
        "group": "__TEST_GROUP_ID__",
        "group_type": "ROLE",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 1,
        "service": "__EPMD_SERVICE_ID__",
        "states": [],
        "type": "BASIC"
      },
      {
        "action": "ACCEPT",
        "active": true,
        "comment": "allow epmd from office zone",
        "environments": [],
        "group": "__OFFICE_ZONE_ID__",
        "group_type": "ZONE",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 2,
        "service": "__EPMD_SERVICE_ID__",
        "states": [],
        "type": "BASIC"
      },
      {
        "action": "DROP",
        "active": true,
        "comment": "",
        "environments": [],
        "group": "any",
        "group_type": "ANY",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 3,
        "service": "any",
        "states": [],
        "type": "BASIC"
      }
    ],
    "outbound": [
      {
        "action": "ACCEPT",
        "active": true,
        "comment": "",
        "environments": [],
        "group": "any",
        "group_type": "ANY",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 1,
        "service": "any",
        "states": [],
        "type": "BASIC"
      }
    ]
  }
}
