{
  "name": "drewtest",
  "profile_id": "__PROFILE_ID__",
  "rules": {
    "inbound": [
      {
        "action": "ACCEPT",
        "active": true,
        "comment": "local",
        "environments": [],
        "group": "any",
        "group_type": "ZONE",
        "interface": "lo",
        "log": "__LOG__",
        "log_prefix": "",
        "order": 1,
        "service": "any",
        "states": [],
        "type": "BASIC"
      },
      {
        "action": "ACCEPT",
        "active": true,
        "comment": "test group",
        "environments": [],
        "group": "__GROUP_ID__",
        "group_type": "ROLE",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 2,
        "service": "__SERVICE_ID__",
        "states": [],
        "type": "BASIC"
      },
      {
        "action": "ACCEPT",
        "active": true,
        "comment": "zone",
        "environments": [],
        "group": "__ZONE_ID__",
        "group_type": "ZONE",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 3,
        "service": "__SERVICE_ID__",
        "states": [],
        "type": "BASIC"
      },
      {
        "action": "DROP",
        "active": true,
        "comment": "",
        "environments": [],
        "group": "any",
        "group_type": "ANY",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 4,
        "service": "any",
        "states": [],
        "type": "BASIC"
      }
    ],
    "outbound": [
      {
        "action": "ACCEPT",
        "active": true,
        "comment": "",
        "environments": [],
        "group": "any",
        "group_type": "ANY",
        "interface": "",
        "log": false,
        "log_prefix": "",
        "order": 1,
        "service": "any",
        "states": [],
        "type": "BASIC"
      }
    ]
  }
}
